@model ProductDTO

<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class=" row pb-2">
			<h2 class="text-primary">Editar producto</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class=" form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="SellPrice"></label>
			<input asp-for="SellPrice" class=" form-control"/>
			<span asp-validation-for="SellPrice" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Editar</button>
		<a asp-controller="Producto" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Cancelar
		</a>
		<div class="mb-3">
			<label asp-for="CategoriaId"></label>
			<select asp-for="CategoriaId" class="form-control">
				<option value="">Seleccione una categoría</option>
				@foreach (var categoria in Model.Categorias)
				{
					<option value="@categoria.Id">@categoria.Nombre</option>
				}
			</select>
			<span asp-validation-for="CategoriaId" class="text-danger"></span>
		</div>
	</div>
</form>

@section scripts{
	@{

	<partial name="_ValidationScriptsPartial" />
	}
}