@model Dictionary<string, List<ProductDTO>>

<style>
    .product-name {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>

@foreach (var category in Model)
{
    <h1>@category.Key</h1>
    <div class="border p-3 mt-4">
        <div id="@category.Key" class="carousel slide">
            
            <div class="carousel-inner">
                @foreach (var productGroup in category.Value.Select((value, index) => new { Value = value, Index = index }).GroupBy(x => x.Index / 3))
                {
                    <div class="carousel-item @(productGroup.Key == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <div class="col-md-4">
                                    <h4 class="product-name">@product.Value.Name</h4>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" href="#@category.Key" role="button" data-bs-slide-to="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="btn btn-primary">Anterior</span>
            </button>
            <button class="carousel-control-next" href="#@category.Key" role="button" data-bs-slide-to="next">
                <span class="carousel-control-next-icon"></span>
                <span class="btn btn-primary">Siguiente</span>
            </button>
        </div>
    </div>
}


