@model Dictionary<string, List<ProductDTO>>

<h1>Productos por Categoría</h1>

@foreach (var category in Model)
{
    <h2>@category.Key</h2>

    <ul>
        @foreach (var product in category.Value)
        {
            <li>@product.Name - @product.SellPrice</li>
        }
    </ul>
}
